<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<nav>
  <div class="left dflex">
    <a routerLink="/"><img src="../../../assets/images/logo.png" alt="logo" class="logo" /><span></span></a>

    <div class="item">
      <a href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="searchBox dflex">
    <div class="box">
      <div class="dflex">
        <button type="submit" class="all">
          All <i class="fa fa-sort-desc"></i>
        </button>
        <input type="text" />
        <button type="submit" class="search">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="right dflex">
    <div class="item">
      <i class="fa fa-flag"></i><i class="fa fa-sort-desc"></i>
    </div>
    <div class="item">
      <!-- todo login button -->
      <button (click)="toggleAccountForm()">
        <h4><i class="fa fa-user fa-2px"></i> Account</h4>
      </button>
    </div>
    <div class="item">
      <p>Returns</p>
      <h5>& Order</h5>
    </div>
    <div class="item"><i class="fa fa-shopping-cart fa-2x"></i>Cart</div>
  </div>
</nav>
<nav class="subnavigation">
  <ul class="submenu">
    <a href="#">
      <li></li>
    </a>
  </ul>
</nav>
<!-- account form  -->
<app-account *ngIf="isOn"></app-account>
</html>